<div class="filter">
  <label class="filter__label">
    <input type="text" class="filter__input" placeholder="Find a note..." [(ngModel)]="searchValue">
  </label>
</div>
<div class="notes">
  <div class="note"
       *ngFor="let note of notes |  notesFilter:searchValue; let index = index;">
    <span class="note__done" *ngIf="note.done">
    <fa-icon [icon]="faCheck"></fa-icon>
    </span>
    <div class="note__title">{{note.title}}</div>
    <div class="note__descr">{{note.descr}}</div>
    <div class="note__action action">
      <div class="action__done" (click)=makeDone(index)>
        <fa-icon [icon]="faCheck"></fa-icon>
      </div>
      <div class="action__edit" [routerLink]="['/edit', note.id]">
        <fa-icon [icon]="faEdit"></fa-icon>
      </div>
      <div class="action__delete" (click)=deleteNote(index)>
        <fa-icon [icon]="faDelete"></fa-icon>
      </div>
      <div class="action__archive" (click)=archiveNote(index)>
        <fa-icon [icon]="faArchive"></fa-icon>
      </div>
    </div>
  </div>
</div>
<app-archive-note *ngIf="archiveNotes.length !== 0" [archiveNotes] = "archiveNotes"></app-archive-note>


